<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secure Assignment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
               {% for message in messages %}
                    <p>{{ message }}</p>
               {% endfor %}
         {% endif %}
      {% endwith %}
    <a href="/register">Register</a>
    <br/>
    <div id="error-msg"></div>
    <form action="/" method="POST" id="login-form">
        UserName <input type="text" name="username" id="username-id"/></br><br>
        Password <input type="password" name="password" id="password-id"/></br><br>
        <input type="submit" value="Login" id="submit-id">
    </form>
    <script type="text/javascript">
        $(document).ready(function(){
                $("#error-msg").hide();

                $("#submit-id").click(function(){

                    var msg="";
                    var userNameRegex=/^[A-Za-z0-9_]{6,15}$/;
                    var passwordRegex=/^[A-Za-z0-9!@#$%^&*]{8,15}$/;
                    if(!userNameRegex.test($("#username-id").val())){

                        msg='Username must be 6 to 15 characters and can have alphabets,numbers,_ ';

                    }
                    if(!passwordRegex.test($("#password-id").val())){

                        msg+='Password must be 8 to 15 characters and can have alphabets,numbers,special characters ! @ # $ % ^ & *';

                    }
                    if(msg == "")
                    {
                        $("#login-form").submit();
                    }else{

                        $("#error-msg").text(msg);
                        $("#error-msg").show();
                        return false;
                    }
                });
            });
    </script>
</body>
</html>